*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator{
    display: flex;
    flex-direction: column;

    width: 400px;
    border: 2px solid #444141;
    border-radius: 10px;
    padding: 20px;
    background-color: #E0E0E0;

    gap: 20px;
}

#display {
    display: flex;
    flex-direction: column;

    width: 100%;
    border: 2px solid #444141;;
    border-radius: 10px;
    background-color: #F3F2F2;
}


#history {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    overflow-y: scroll;
    
    padding: 10px;
    height: 120px;
    border-bottom: 2px solid gray;
}

.history-textfield, .calculation-textfield{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
}

#calculation {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    padding: 10px;
    min-height: 60px;
}

#controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

#top-panel {
    display: flex;
    gap: 10px;
}

.extra {
    padding: 10px;
    height: 50px;
    flex: 1;
}


#bottom-panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.keypad-row {
    display: flex;
    padding: 2px;
    gap: 10px;
}

.keypad-button {
    height: 50px;
    flex: 1;
}

.keypad-button, .extra {
    background-color: #444141;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}

.keypad-button.operator {
    background-color: #958D91;
}

.keypad-button:hover, .extra:hover {
    background-color: #fff;
    color: #444141;
    border: 2px solid #444141;
}

